*.txt
!animal.txt
!artist.txt
!color.txt
!color_flower.txt
!extended-color.txt
!flower.txt
!nationality.txt
!influencer_lighting.txt
!influencer_outfits.txt
!influencer_poses.txt
!influencer_settings.txt
!influencer_makeup.txt
!influencer_hair.txt
!influencer_hair_colors.txt
!influencer_expressions.txt
!influencer_camera_angles.txt
!influencer_footwear.txt
!skin_tones.txt